@{
    ViewData["Title"] = "Strona Główna";
}

<h1>Wolontariat - Dołącz do nas!</h1>

<p>Chcesz pomóc? Zapisz się na wolontariat i wspieraj naszą organizację! Wypełnij formularz rejestracyjny, aby dołączyć do naszego zespołu.</p>

<a href="@Url.Action("VolunteerForm")" class="btn btn-primary">Zapisz się na wolontariat</a>
